<div class="card">
<!--Add some dummy details for now -->
    <!--Turn The card into a link that we can click to access indivdually-->
    <div class="border border-light border-2 bg-warning" href="/restaurant/{{id}}">
    <h3>{{name}}</h3>
    <p>{{bio}}</p>
    <p>{{location}}</p>
    <p>{{website}}</p>
    <p>rating: {{restaurantRating}}</p>
    </div>    
</div>