


<div class="card">
<!--Add some dummy details for now -->
    <!--Turn The card into a link that we can click to access indivdually-->
    <a href="/dashboard/{{id}}">
    <h3>{{name}}</h3>
    <p>{{bio}}</p>
    <p>{{location}}</p>
    <p>{{website}}</p>
    <p>rating: {{restaurantRating}}</p>
    </a>    
</div>

<h4>Reviews: </h4>

{{#each Reviews as |review|}}
        {{>review}}
{{/each}}